.container-laboratorio{
    width: 30%;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);

    background-color: #e6e0e0;
    border-radius: 10px;
}

.container-laboratorio h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.laboratorio {
    
   
    padding: 30px 40px;
    box-sizing: border-box;
}





.laboratorio .date-laboratorio {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.date-laboratorio input {
    width: 100%;
    padding: 0 5px;
    height: 20px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.date-laboratorio label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #444444;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.date-laboratorio span::before {
    content: '';
    position: absolute;
    top: 22px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #218342;
    transition: .5s;
}

.date-laboratorio input:focus~label,
.date-laboratorio input:valid~label {
    top: -5px;
    color: #218342;
}


.date-laboratorio input:focus~span::before,
.date-laboratorio input:valid~span::before {
    width: 100%;
}

.btn-guardar-laboratorio {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #218342;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn-guardar-laboratorio:hover {
    border-color: #218342;
    transition: .5s;
}

.lista-laboratorio{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #e6e0e0;
    border-radius: 10px;
}

.btn-new-laboratorio {
    width: 15%;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid;
    background: #218342;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn-new-laboratorio:hover {
    border-color: black;
    transition: .5s;
}
.ejemplo-list h1{
    margin-left: 20px;
    margin-bottom: 20px;
}

.card-laboratorio-list{
    /* background-color: white; */
    
    
}

.card-laboratorio-content{
    background-color: white;
    margin-bottom: .7rem;
    width: 95%;
    height: 45px;
    margin-left: 20px;
    padding-left: 7px;
    display: flex;
    justify-content: space-between;
}
.btn-container button {
    margin-right: .5rem;
}
.btn-edit{
    background: white;
    border: 1px solid;
    border-radius: 25px;
    cursor: pointer;
    outline: none;  
}
.btn-edit:hover{
    border-color: green;
    transition: .5s;
}
.btn-delete{
    background: red;
    color: white;
    border: 1px solid;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
}
.btn-delete:hover{
    border-color: black;
    transition: .5s;
}