*{
    margin: auto;

    
}



.container-reserva{
    width:500px;
    position:absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e6e0e0;
    margin-top: 100px;
    /* margin-bottom: 10px; */
    border-radius: 25px;
    
    
    
   
}
.container-reserva h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.container-reserva form {
    padding: 0 40px;
    box-sizing: border-box;
    
}

form .date {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 50px;
}

.date input {
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.date label {
    position: absolute;
    top: 50%;
    left: 5px;
    color:#218342;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    
}

.date span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #218342;
    transition: .5s;
}

.date input:focus~label,
.date input:valid~label {
    top: -5px;
    color: #218342;
}


.date input:focus~span::before,
.date input:valid~span::before {
    width: 100%;
}



.date select{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 10px;
    border-style: none;
    border-radius: 25px;
    height:25px;
    width: 150px;
    text-align:center;
    background-color: #90a898;
    
}


.btn-guardar-reserva {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid;
    background: #218342;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn-guardar-reserva:hover {
    border-color: black;
    transition: .5s;
}

.lista-reserva{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #e6e0e0;
    border-radius: 10px;
}

.btn-new-reserva {
    width: 15%;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid;
    background: #218342;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn-new-reserva:hover {
    border-color: black;
    transition: .5s;
}
.reserva-list h1{
    margin-left: 20px;
    margin-bottom: 20px;
}
.card-reserva-content{
    background-color: white;
    margin-bottom: .7rem;
    width: 95%;
    height: 85px;
    margin-left: 20px;
    padding-left: 7px;
    display: flex;
    justify-content: space-between;
}

.btn-container-reserva button {
    margin-right: .5rem;
}
.btn-edit{
    background: white;
    border: 1px solid;
    border-radius: 25px;
    cursor: pointer;
    outline: none;  
}
.btn-edit:hover{
    border-color: green;
    transition: .5s;
}
.btn-delete{
    background: red;
    color: white;
    border: 1px solid;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
}
.btn-delete:hover{
    border-color: black;
    transition: .5s;
}
.btn-observacion{
    background: #218342;
    color: white;
    border: 1px solid;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
}
.btn-observacion:hover{
    border-color: black;
    transition: .5s;
}